/* Mobile First */
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.flex-item {
    width: 45%;
    margin: 1rem 0;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    border: 1px solid lightslategray;
}

.flex-item-inner {
    width: 100%;
    padding-top: 50%;
    margin: 10px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.flex-item:nth-child(odd) {
    margin-right: 1rem;
}

.flex-item:nth-child(even) {
    margin-left: 1rem;
}

.ubccb {
    background-color: #f8fff8;
}

.rj {
    background-color: #e7e7e7;
}

.ubccb-inner {
    background-image: url('./assets/clean_code_72_color.png');
}

.aob-inner {
    background-image: url('./assets/AgileOtter-Logo-Tiny.png');
}

.sm-inner {
    background-image: url('./assets/metz.png');
}

.rj-inner {
    background-image: url('./assets/ronjeffriescrop.svg');
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .flex-item {
        width: 25%;
        margin: 2rem 0;
    }

    .flex-item:nth-child(odd) {
        margin-right: 0;
    }

    .flex-item:nth-child(even) {
        margin-left: 0;
    }

    .flex-item:nth-child(3n+2) {
        margin: 2rem 1rem;
    }
}
